* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(93deg, #649df3, #60f5f5);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  padding-top: 3rem 0;
  font-size: 1rem;
  height: 5rem;
}
header,
.inputContainar {
  display: flex;
  flex-direction: column;

  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.inputContainar input {
  width: 290px;
  margin-bottom: 1rem;
}
.inputContainar button {
  padding-bottom: 1rem;
}
.inputContainar input,
.inputContainar button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 10px;
}
.inputContainar button {
  color: rgb(255, 255, 255);
  background-color: #f79526;
  transition: all 0.3s ease;
  margin-left: 5px;
  cursor: pointer;
}
.inputContainar button:hover {
  color: #f79526;
  background-color: #ffffff;
}

/* todoContainar WILL BE HERE =============================================*/

.todoContainar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoList {
  width: 350px;
  list-style: none;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0.3rem;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.todoItem {
  padding: 0 0.5rem;
  flex: 1;
  font-size: 1.5rem;
}
.completeButton {
  background-color: #228b22;
  color: #ffffff;
}
.completeButton:hover {
  background-color: #04b304;
}
.trashButton {
  background-color: #dd0808;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}
.trashButton:hover {
  background-color: #f82424;
}
.completeButton,
.trashButton {
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}
.fa-trash,
.fa-square-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fallAnimetion {
  transform: translateY(9rem) rotateZ(25deg);
  opacity: 0;
}

/* todoContainar WILL BE HERE =============================================*/

/* TODO: Selector WILL BE HERE =============================================*/
select {
  appearance: none;
  outline: none;
  border: none;
  color: #f79526;
  cursor: pointer;
  width: 9rem;
  padding: 0.85rem;
}
.select {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0.3rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #f79526;
  color: white;
  top: 0;
  right: 0;
  padding: 0.55rem 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background-color: white;
  color: #f79526;
}
/* TODO: Selector WILL BE HERE =============================================*/
