body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffd700 10%, #ffa500 100%);
  color: #ffffff;
}

.sunny {
  background: linear-gradient(135deg, #ffd700 10%, #ffa500 100%);
}

.rainy {
  background: linear-gradient(135deg, #00c6ff 10%, #0072ff 100%);
}

.container {
  text-align: center;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info {
  margin: 20px 0;
}

.weather-info img {
  width: 100px;
  height: 100px;
}

.weather-info p {
  margin: 10px 0;
  font-size: 1.2em;
}

input,
button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #ff7e5f;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #feb47b;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#suggestions {
  margin-top: 10px;
  background: white;
  color: black;
  border-radius: 5px;
}

#suggestions div {
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #e0e0e0;
}
